.jumbotron{
    background-color: #9575CD;
    color: whitesmoke;
}
.footer{
    background-color: #d1c4e9;
}
.main{
    margin-left: 20%;
    margin-right: 20%;
}
.body{
    padding: 20px 0px 0px 0px;
    z-index: 0;
}
.navbar-dark{
    background-color: #512DA8;
}
.tab-content {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 10px;
}